.menu-ul{
    list-style-type: none;
    margin: 0;
    float: right;
    margin-right: 20px;
}
.menu-ul li{
    display: inline-block;
    margin-left: 10px;
}
.logo{
    width: 4em;
}
.header{
    background-color: #BDBAC1;
    padding: 1.2em;
}
.link{
    color: antiquewhite;
    text-decoration: none;
}